Thumbs.db
.DS_Store?
.DS_Store
.svn

dotfiles/.ssh/*
lucid.remote/.ssh/*
magicbullet.local/.ssh/*
blackbullet.local/.ssh/*
silverbullet.local/.ssh/*
tigger/.ssh/*
dotfiles/.ssh/*
#And Macs, you dog... 
macs/.ssh/*

macs/.bash_history
lucid.remote/.bash_history

salamander.remote/.ssh/*
salamander.remote/.bash_history