Thumbs.db
.DS_Store?
.DS_Store
.svn

silverbullet.local/.ssh/*
blackbullet.local/.ssh/*
kora.local/.ssh/*
tigger/.ssh/*

ovid.local/.ssh/*
ovid.local/.zsh_history

magic.local/.ssh/*
magic.local/.netrc
magic.local/.heroku/*
magic.local/.bash_history
magic.local/.zsh_history

macs/.ssh/*
macs/.netrc
macs/.heroku/*
macs/.bash_history
macs/.grunt-init/*
macs/.zsh_history
macs/.android/*

lucid.remote/.ssh/*
lucid.remote/.zsh_history
lucid.remote/.bash_history

salamander.remote/.ssh/*
salamander.remote/.bash_history
salamander.remote/.zsh_history

woozer.remote/.ssh/*
woozer.remote/.zsh_history
woozer.remote/.bash_history

zeke.remote/.ssh/*
zeke.remote/.zsh_history
zeke.remote/.bash_history

ovid.local/.ssh/*
ovid.local/.zsh_history
ovid.local/.bash_history

squid.remote/.ssh/*
squid.remote/.zsh_history
squid.remote/.bash_history

stu.local/.ssh/*
stu.local/.zsh_history
stu.local/.bash_history